<div class="col_add">
		<div class="content">
			<div class="add">
				<div class="tit_add"><p>Convocar Reunião</p></div>
				<div class="insert_add"></div>
				<textarea placeholer="Insira a ordem de trabalhos...">Insira a ordem de trabalhos...</textarea>
			</div>
		</div>
		<div class="enviar"><input type="submit" value="Convocar Reunião"><%= link_to 'Voltar', meetings_path %></div>
</div>	
<%= render 'form' %>
