<div class="content">
	<div class="col1">
		<div class="alertas">
			<div class="titalertas"><p>ALERTAS</p></div>
		</div>
		<%= link_to 'Ver mais', meetings_path, class: "btn" %>
	</div>
	<div class="col2">
		<div class="cal">
			<div class="titcal"></div>
			<!--<div class="mes"></div>-->
			<div id='calendar'></div>
		</div>
		<!--<input type="submit" value="Convocar Reunião">-->
		<%= link_to 'Convocar Reunião', new_meeting_path, class: "btn" %>

		<%= link_to 'Adicionar Actas', new_record_path, class: "btn" %>			
	</div>	
</div>

				