body{

	font-family: "Helvetica";
	
}

.content{
	max-width: 200px;
	margin: 75px auto;
}

.logo{
	width: 105px;
	height: 110px;
	margin: 100px auto 100px auto;
	background-image:url('logo-01.png');
	background-size: cover;
}

.login{
	display: block;
}

.login input{
	border-style: solid;
	border-color: #dad8d9;
	border-width: 1px;
	background-color: #eeeced;
	width: 190px;
	height: 25px;
	color:#565555;
}

.mail input{
	border-bottom: 0;
	padding-left: 10px;
	border-top-right-radius:2px;
	border-top-left-radius:2px;
}

.pass input{
	padding-left: 10px;
	border-bottom-right-radius:2px;
	border-bottom-left-radius:2px;
}

.iniciar{
	width: 200px;
    margin-top: 40px;
}

.iniciar input{
	color: #fff;
	width: 125px;
	height: 25px;
	margin-left: 37.5px;
	border: none;
	background-color: #7fceed;
	border-radius: 2px;
}

.iniciar input:hover{
	background-color: #007eb9;
}

p{
	margin-top: 20px;
	color: #7fceed;
	text-align: center;
	font-size: 10px;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:visited {
	margin-top: 20px;
	color: #7fceed;
	text-align: center;
	font-size: 10px;
	font-family: sans-serif;
	text-decoration: none;
}

a:hover{
	color:#007eb9;
	text-decoration: underline;
}

.remember-me{
	margin: 10px 0 0 42px;
	color: #7fceed;
	font-size: 12px;
	font-family: sans-serif;
}

.remember-me input{
	display: inline;
}